*.db
*.opendb
*.dll
*.lib
*.a
*.o
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.louwei
*./
*.sbr
obj/
lst/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
_DEL/
build/
ipch/
x64/
Debug/
